{% extends 'base.html' %}
{% block title %}Ride Sharing System{% endblock %}
{% block css %}
    <link href="/static/css/login.css" rel="stylesheet" />
{% endblock %}


{% block content %}
    <h1>Current requests list </h1>
    {% if request_list %}
    <ul>
      {% for req in request_list %}
      <li>
          <div class="form-group">

            <a href="{{ req.get_absolute_url }}">ride ID: {{ req.ride_id }}</a> owner_name: {{ req.owner_name}}
          </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no request.</p>
    {% endif %}
{% endblock %}