{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Ride Sharing System{% endblock %}
{% block css %}
    <link href="/static/css/login.css" rel="stylesheet" />
{% endblock %}



{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-login' method="post">
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            {% csrf_token %}
            <h2>Ride Detail</h2>

            <p>Owner_name: {{ride.owner_name.name}}</p>
            <p>Destination: {{ride.destination_add}}</p>
            <p>Arrive Time: {{ride.arrive_time}}</p>
            <p>If shared: {{ride.if_shared}}</p>
            <p>Driver: {{ride.driver_name}}</p>
            <p>Passenger Number: {{ride.passenger}}</p>
            <p>Special Info: {{ride.special_info}}</p>
            <p>Vehicle Type: {{ride.vehicle_type}}</p>
            <p>Status: {{ride.status}}</p>
            <p>Total passenger number: {{ride.total_number}}</p>
              {% if share_list %}
                    {% for sh in share_list %}
                        share name : {{ sh.sharer }} | party num: {{ sh.party_number }} <br />
                    {% endfor %}
                {% else %}
                    this ride has no share
                {% endif %}
            <br />
            <button type="submit" class="btn btn-default" name="Back">Back</button>
            {% if aswho == owner %}
                <td width="30px">&nbsp;</td>
                <button type="submit" class="btn btn-danger " name="Delete"> Delete </button>
                <td width="30px">&nbsp;</td>
                <button type="submit" class="btn btn-primary " name="Edit"> Edit Ride </button>
            {% else %}
                <td width="30px">&nbsp;</td>
                <button type="submit" class="btn btn-danger " name="Leave"> Leave </button>
            {% endif %}
          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}